In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,31,2021)

In [2]:
myTuple =  ("NPower","JDA","Tuesday",30,31,2021)

In [3]:
myTuple

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [4]:
#Q2 What is the type of myTuple

In [5]:
type(myTuple)

tuple

In [6]:
#Q3 What is the length of myTuple

In [7]:
len(myTuple)

6

In [8]:
#Q4 print the values in each index #Use regular indexing

In [10]:
print(myTuple[:6])

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [11]:
#Q5 print the values in each index #Use negative indexing

In [15]:
print(myTuple[-6:])

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [16]:
#Q6 what is the type of each value

In [22]:
list(map(type, myTuple))

[str, str, str, int, int, int]

In [23]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year
# print the variables

In [25]:
(name,program,dayName,month,day,year) = myTuple

In [26]:
name

'NPower'

In [27]:
(name,program,dayName,month,day,year)

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [30]:
print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

NPower
JDA
Tuesday
30
31
2021

In [31]:
#Q8 unpack myTuple2 in the follwoing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

In [32]:
(name,program,dayName) = myTuple2

NameError: name 'myTuple2' is not defined

In [33]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)
d=Tuple2
print(type(d))
print(d)
e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [35]:
#-------------------------Tuples are immutable------------------------------------------------
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information
testTuple=(1,2,3)
print(testTuple)
testTuple=(4,5,6)
print(testTuple)
#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [36]:
#Q9 Reverse myTuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower")

In [41]:
myTuple[-1:-7:-1]

(2021, 31, 30, 'Tuesday', 'JDA', 'NPower')

In [42]:
myTuple[::-1]

(2021, 31, 30, 'Tuesday', 'JDA', 'NPower')

In [43]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [44]:
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [45]:
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [46]:
#Q11 What is the output of nestedTuple[1:2]

In [47]:
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [48]:
#Q12 print each element in the nestedTuple

In [50]:
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [51]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple

In [53]:
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [54]:
#Q14 Access the value "Lists" from nestedTuple

In [55]:
nestedTuple[1][1][1]

'Lists'

In [56]:
#Q15 Access the value "Tuple" from nestedTuple

In [57]:
nestedTuple[1][1][2]

'Tuple'

In [59]:
#Q16 Access the value "course" from nestedTuple

In [61]:
nestedTuple[0][1]

'course'

In [62]:
#Q17 Concatenate myTuple with nestedTuple

In [64]:
newTuple = myTuple + nestedTuple

In [65]:
newTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 31,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [66]:
#Q18 add your name to the tuple

In [69]:
name = ('Chandni')
newTuple = (newTuple, name)
newTuple

(('NPower',
  'JDA',
  'Tuesday',
  30,
  31,
  2021,
  ('Coursera', 'course', 6),
  ('week', (2, 'Lists', 'Tuple'))),
 'Chandni')

In [70]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples

In [78]:
'Coursera' in myTuple # find its solution ...its wrong

False

In [73]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)

In [75]:
number=55
for number in testTuple:
     print("Number exists")
     break;

Number exists

In [79]:
#Q21 Find the index of JDA in myTuple
# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output

In [84]:
newTuple.index('JDA')
newTuple.index('Coursera')

ValueError: tuple.index(x): x not in tuple

In [85]:
#Q22 print index 8 from newTuple
newTuple[8]

IndexError: tuple index out of range

In [86]:
#Q23 Get the 4th element from the begining of myTuple and 4th element from last

In [91]:
newTuple[0][3]

30

In [101]:
newTuple[0][7][1][0]

2

##

In [102]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)

2